img{
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 20px;
  padding: 10px;
  background: #fff;
  box-shadow: 0 0 15px rgba(0,75,0,.2);
  box-sizing: border-box;
}

.container{
  column-count: 4;
  max-width: 1000px;
  margin: 0 auto;
  background-color: white;
  padding: 30px;
  box-shadow: 0 0 30px rgbs(0, 0, 0, .25);
}

@media screen and (max-width:1024){
  .container{
    column-count: 3;
  }
}

@media screen and (max-width:640){
  .container{
    column-count: 2;
  }
}

@media screen and (max-width:375){
  .container{
    column-count: 1;
  }
}